[user]
        email = james.short@alumni.duke.edu
        name = James Short
[color]
        ui = true
[color "diff"]
        whitespace = red reverse
        meta = yellow
        frag = magenta bold
        commit = yellow bold
        old = red bold
        new = green bold
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22
[core]
        pager = diff-so-fancy | less --tabs=4 -RFX
        autocrlf = input
        excludesfile = ~/.gitignore
        editor = vim
[push]
        default = simple
[alias]
        ca = commit --amend --no-edit
        dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
        st = status
        pr = pull --rebase
        co = checkout
        br = branch
        df = diff
        lg = log -p
        logf = log --format=fuller
        pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
        dw = diff --ws-error-highlight=all
[init]
        templatedir = /Users/jwshort/.git_template_dir
[color "diff"]
        whitespace = red reverse
